[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesMallowsSMC2"]
	path = BayesMallowsSMC2
	url = https://github.com/cran/BayesMallowsSMC2
